@model PagedList.IPagedList<DiamDev.Colegio.Entities.Rol>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Rol Listado";
}

<div class="row">
    <div class="col-3">
        <a class="btn btn-block btn-primary" href="@Url.Action("Crear", "Rol")">
            Nuevo
            <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Rol</h3>
        <div class="card-tools">
            <form action="" method="get" class="form-inline">
                <div class="input-group well">
                    <input type="text" class="form-control" id="search" name="search" placeholder="Buscar.." value="@Html.Raw(ViewBag.Search)" autocomplete="off" style="margin-bottom: 1px;">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Permisos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Rol in Model)
                {
                    <tr>
                        <td>@Rol.Nombre</td>
                        <td>@(Rol.Permisos == null ? 0 : Rol.Permisos.Count())</td>
                        <td>
                            <span class="table-remove">
                                <a title="Editar" href="@Url.Action("Editar", "Rol", new { id = Rol.RolId })" class="btn btn-primary btn-rounded btn-sm my-0"><i class="fas fa-pencil-alt"></i></a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card-tools">
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { search = ViewBag.Search, page, @class = "page-item" }))
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
           if ('@TempData["Rol-Success"]' == "OK")
           {
               toastr.success('El rol se guardó exitosamente');
           }
        });
    </script>
}

